h2{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: sans-serif;
    font-style: normal;
    color: #1657ad;
}

body{
    background-color: #e4e4e4a8;
}

label{
    color: #1657ad;
    font-size: larger;
    font-weight: bold;
    font-family: monospace;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}
.column-div{
    margin: auto;
    text-align: center;
}
.form{
    box-sizing: border-box;
    width: 700px;
    margin: 100px auto;
    border: 1px solid #dfdfdf;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000000;
    background-color: #eceaea;
}
.serviceReceipt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.providerInformation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.payment{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    gap: 5px;
}
.copies{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.generate{
    background-color: #1657ad;
    border: none; 
    color: white; 
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 30px; 
}

.boxUp{
    width: 45%;
}


input[type="number"]{
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    margin-bottom: 10px;
    padding: 5px;
    outline-color: #f1b40c;
}
input[type="text"]{
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    margin-bottom: 10px;
    padding: 5px;
    outline-color: #f1b40c;
}
input[type="date"]{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    margin-bottom: 10px;
    padding: 5px;
    outline-color: #f1b40c;
}

@media screen and (max-width: 790px){
    .boxUp{
        width: 45%;
    }
    .form{
        width: 100%;
    }
}